@import url("./fonts/font.css");

body{
  overflow-x: hidden;
  background: linear-gradient(132deg, rgba(255,255,255,0.5013655120251226) 0%, rgba(233,165,156,0.5013655120251226) 10%, rgba(255,255,255,0.5013655120251226) 20%, rgba(233,165,156,0.4985643915769433) 30%, rgba(255,255,255,0.4985643915769433) 40%, rgba(233,165,156,0.5013655120251226) 50%, rgba(255,255,255,0.5041666324733018) 60%, rgba(233,165,156,0.4985643915769433) 70%, rgba(255,255,255,0.4985643915769433) 80%, rgba(233,165,156,0.49576327112876406) 90%, rgba(252,252,252,0.49576327112876406) 100%);
}
.wrap{
  overflow-x: hidden;

}